.dashboard {
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid #222;
    box-shadow: darkgrey 10px 10px 30px 5px;
}

.dashboard .score {
    position: absolute;
    top: 85px;
    width: 100%;
}

.dashboard .message {
    position: absolute;
    bottom: 10px;
    width: 100%;
}